
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@300;400;500;600;700&display=swap');
@import url('header.css');
@import url('footer.css');

.Container{ 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    grid-template-areas: 
    "hd hd hd hd hd hd "
    "sec sec sec sec sec sec"
    "ft ft ft ft ft ft";
    font-family: 'Piazzolla', serif;
    background-color: #ffffff;
}
/* ------- HEADER Imported ----------*/ 


#main-posts{
    grid-area: sec;
    margin: 3px 20px 2px 20px;
    background-color:#F5EEF8;
}

.title>h3{
    font-size: 40px;
    text-align: center;
}
hr{
    margin: 1px;
    border-top: #9370db  3px solid;
    border-radius: 10px;
  }

#info{
    display:flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 0px ;
    
}

.author-wrapper{
    border: 3px solid #ffffff;
    margin: 3px 20px 3px 20px;
    width: 90%;
}
#avatar{
    width: 150px;
    height: 150px;
    border-radius: 40px;
    border:3px solid #fff;
}
#writer{
    font-size: 30px;
    text-align: center;
}
#bio{
    margin: 3px;
    font-size: 20px;
    text-align: center;
}
.post-content>p{
    font-size: 15px;
    color: #000000;
    text-align: center;
    overflow: scroll;
    margin: 10px 15px 5px 15px;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-around;
    width: 320px;
    height: 50px;
    margin: 20px 30px 10px 50px;
    padding: 10px 10px 0px 10px;
    border: 3px solid #fff;
}
#share-to{
    font-size: 20px;
    margin:0px 0px 10px 0px ;
    padding: 3px 2px 2px 20px;
}
#twitter{
    font-size: 20px;
    color: #85C1E9;
    margin: 0px 5px 0px 5px;
}

#facebook{
    font-size: 20px;
    color: #2E86C1 ;
    margin: 0px 5px 0px 5px;
}
#linkedin{
    font-size: 20px;
    color: #3498DB  ;
    margin: 0px 5px 0px 5px;
    padding-right: 20px;
}