
@import 'header.css';
@import 'footer.css' ;
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@300;400;500;600;700&display=swap');

*  {
   border: red 2px soild !important; 
}

.Container{ 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    grid-template-areas: 
    "hd hd hd hd hd hd "
    "sec sec sec sec sec sec"
    "ft ft ft ft ft ft";
    font-family: 'Piazzolla', serif;
    background-color: #ffffff;
}
/* ------- HEADER Imported ----------*/ 

/* -------- main section----------*/

#main{
    grid-area: sec;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.card{
   width: 400px;
   height: 450px;
   border-radius: 10px;
   border: rgb(202, 201, 201) solid 1px;
   margin: 10px 15px 20px 15px;
   text-align: center;
   font-size:20px;
   color: #000000;
   font-family: 'Piazzolla', serif;
   
}

.image{
   width:350px;
   height: 300px;
   border-radius: 10px;
   margin: 10px;
   border: #ffffff 3px solid;
}

hr{
   margin: 20px;
   border-top: mediumpurple 3px solid;
   border-radius: 10px;
 }


a:link, a:visited, a:hover, a:active{
   text-decoration: none !important;
   font-weight: normal;
}
.caption{
   font-size: 20px;
   font-style: normal;
}
/*-----footer------*/ 




    
    
